
# Core
grpcio==1.71.0
grpcio-tools==1.59.3
numpy==1.22.0
soundfile==0.13.1


# TTS
parler_tts==0.2.3
transformers==4.46.1
torch==2.5.0
torchaudio==2.5.0
TTS==0.22.0

# Frontend
gradio==5.27.0


# Utility
scipy==1.11.4
pydub==0.25.1
